.App {
  text-align: center;
  width: 500px;
  height: 600px;
  margin: auto;
  box-shadow: chocolate;
}

ul {
  height: 400px;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
  /* box-shadow: 0 0 0.25rem grey; */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}